export DEFENDER_RELAYER_API_KEY=
export DEFENDER_RELAYER_SECRET=
export INFURA_API_KEY=
export DEFENDER_TEAM_API_KEY=
export DEFENDER_TEAM_SECRET_KEY=
export MAINNET_AUTOTASK_ID=
export RINKEBY_AUTOTASK_ID=
export POLYGON_AUTOTASK_ID=